In [1]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

In [14]:
import pandas as pd
import numpy as np

In [3]:
csv_path="/data/sarcasm.csv"

In [4]:
df = pd.read_csv(csv_path)

In [8]:
sentences=df['sentence'].values

In [10]:
tokenizer=Tokenizer(oov_token="<oov>")

In [11]:
tokenizer.fit_on_texts(sentences)

In [12]:
seq = tokenizer.texts_to_sequences(sentences)

In [15]:
seq = np.array(seq)

In [16]:
seq

array([list([308, 15115, 679, 3337, 2298, 48, 382, 2576, 15116, 6, 2577, 8434]),
       list([4, 8435, 3338, 2746, 22, 2, 166, 8436, 416, 3112, 6, 258, 9, 1002]),
       list([145, 838, 2, 907, 1749, 2093, 582, 4719, 221, 143, 39, 46, 2, 10736]),
       ..., list([10735, 9, 68]),
       list([1541, 392, 4164, 5634, 912, 1731, 3803, 3562]),
       list([29656, 1647, 6, 4, 29657, 825])], dtype=object)

In [17]:
padded = pad_sequences(seq)

In [24]:
type(padded) is np.ndarray

True

In [22]:
np.ndarray

numpy.ndarray

In [25]:
df=pd.DataFrame(padded)

In [26]:
df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0,0,0,0,0,0,0,0,0,0,...,679,3337,2298,48,382,2576,15116,6,2577,8434
1,0,0,0,0,0,0,0,0,0,0,...,22,2,166,8436,416,3112,6,258,9,1002
2,0,0,0,0,0,0,0,0,0,0,...,1749,2093,582,4719,221,143,39,46,2,10736
3,0,0,0,0,0,0,0,0,0,0,...,2,1832,29,319,22,10,2924,1393,6969,968
4,0,0,0,0,0,0,0,0,0,0,...,4720,908,10737,623,594,5,4,95,1309,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,113,689,5,3526,288,726
26705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,635,102,255,29655
26706,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10735,9,68
26707,0,0,0,0,0,0,0,0,0,0,...,0,0,1541,392,4164,5634,912,1731,3803,3562
26708,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,29656,1647,6,4,29657,825